:root {
    --gray: #999ba2e5;
    --gold: #c29909e5;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0;
  }

.rating-widget{
    display: block;
    cursor: pointer;
  }

rating-form{
    display: inline-block;
    font-size:2rem;
  }
  
  h1{
    display: inline-block;
    font-size: 2rem;
    

  }

  .star {
    color: var(--gray);
    font-size: 2rem;
  }

  .star:hover,
  .star.active {
    color: var(--gold);
  }
  #rating-message {
    margin-top: 10px;
    font-weight: bold;
  }
  .stars-hidden .star {
    display: none;
  }