body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0;
  }

.rating-widget {
    display: inline-block;
    
    cursor: pointer;
  }
  h1{
    font-size: 2rem;

  }

  .star {
    color: gray;
    font-size: 2rem;
  }

  .star:hover,
  .star.active {
    color: gold;
  }
  #rating-message {
    margin-top: 10px;
    font-weight: bold;
  }
  .stars-hidden .star {
    display: none;
  }