body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 0;
  }

rating-widget {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
  }

  .star {
    color: gray;
  }

  .star:hover,
  .star.active {
    color: gold;
  }