@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
  --blue:  #2F2FA2;
  --purple: color-mix(in srgb, var(--blue, blue) 66%,  purple 22%);
}
*{
    font-family:"Montserrat", Arial;
    color:black;
    background-color:lightblue ;
}
.body {
  display: flex;
  margin:0;
  justify-content: center;
  align-items: center;
  
   
}
nav{
  display: flex;
  width:100%;
  margin:auto;
  padding:2rem 2rem;
  align-items: center;
  justify-content: space-between;
  

}
.container{
  position:relative;
  width:100%;
  height: 3dvh; 
  overflow: scroll;
  top: 2rem;
  left: 1000px;
  
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
a{
  color:white;
}
.list{
  font-size:2vw;
  margin-left: 6rem;
  
}
.button {
  margin:500px;
  font-size: 2vw;
  flex: 1;
  width: 16vw;
  height: 8dvh;
  margin:0;
  top:50%;
  vertical-align: auto;
  display: inline-block;
  text-decoration: none;
  padding: 2dvh 1dvw;
  border: none;
  border-radius: 5px;
  background-color:rgb(205, 96, 13);
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-out;
   
}

.button:hover, .button:focus {
  background-color: purple;
  background-color: var(--purple);
  color: white;
}

.button:active {
  background-color: #005cbf;
  
}
.weather-widget {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  border: 1px solid black;
  
  
}

.weather-header {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  margin: 0;
  
}
h1{
  background-color:#3498db;
  color:white;
}

#weather-icon {
  font-size: 50px;

}

.weather-details {
  padding: 20px;
  

}

.weather-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.detail-label {
  font-weight: bold;
}

.weather-message {
  margin-top: 10px;
}